{% if page.lang == 'it' %}{% assign certifications = site.data.data_it.certifications %}{% else %}{% assign certifications = site.data.data.certifications %}{% endif %}
{% if certifications %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% for cert in certifications.list %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">{{ cert.name }}</h3>
        <div class="time">
          {{ cert.start }} {% if cert.end %} - {{ cert.end }} {% endif %}
        </div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">
          {{ cert.organization }}
        </div>
        {% if cert.credentialurl %}
        <div class="cert-url">
          <a
            href="//{{ cert.credentialurl }}"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >{{ cert.credentialname }}</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <!--//meta-->

    <div class="cert-body">
      {% if cert.badgeimage %}
      <div class="cert-badge">
        <a href="//{{ cert.credentialurl }}" target="_blank" rel="noreferrer nofollow noopener">
          <img src="{{ cert.badgeimage | relative_url }}" alt="{{ cert.name }} badge" />
        </a>
      </div>
      {% endif %}
      <div class="details">{{ cert.details | markdownify }}</div>
    </div>
    <!--//cert-body-->
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %}
