/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .wrapper {
    display: block;
    border-radius: 0;
  }

  .main-wrapper {
    padding: 28px 24px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 4px;
    font-size: 12px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
    flex-direction: column;
  }

  .main-wrapper .section {
    margin-bottom: 28px;
  }

  .main-wrapper .section-title {
    font-size: 15px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    float: left;
    width: 28%;
    margin-bottom: 0;
  }

  .skillset .level-bar {
    width: 72%;
    float: left;
    position: relative;
    top: 3px;
  }
}

.skillset .level-bar-inner {
  width: auto;
  -webkit-transition: width 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  -moz-transition: width 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  -o-transition: width 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  transition: width 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
